/* ==========================================================================
   Title responsive styles - begin
   ========================================================================== */
/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-has-bg-image {
    height: auto !important;
    background-image: none !important;
  }
  .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-has-bg-image .eltdf-title-image {
    display: block;
  }
  .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-has-bg-image .eltdf-title-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-title-va-header-bottom {
    height: auto !important;
  }
  .eltdf-title-holder:not(.eltdf-bg-responsive-disabled).eltdf-title-va-header-bottom .eltdf-title-wrapper {
    padding-top: 0 !important;
  }
}

/* ==========================================================================
   Title responsive style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-title-holder.eltdf-centered-type .eltdf-page-subtitle {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-title-holder.eltdf-centered-type .eltdf-title-inner .eltdf-title-holder-inner .eltdf-title-decor {
    display: none;
  }
}

/* ==========================================================================
   Centered Title type responsive style - end
   ========================================================================== */
/* ==========================================================================
   Standard With Breadcrumbs Title type responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-title-info,
  .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info {
    display: block;
    width: 100%;
  }
  .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info {
    margin: 7px 0 0;
    text-align: initial;
    white-space: inherit;
  }
  .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-page-title {
    margin: 23px 0 0 0;
  }
}

/* ==========================================================================
   Standard With Breadcrumbs Title type responsive style - end
   ========================================================================== */
/* ==========================================================================
   Title responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map-responsive.css.map */
